@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/kg-primary-penmanship-2');

* {
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 1.05em;
  color: #181B0F;
  font-family: 'KG Primary Penmanship 2', sans-serif;
}
/* background-color: #E2E2E2; */
header {
  text-align: center;
  margin: 5px;
  font-family: 'Amatic SC';
  font-size: 1.5em;
  & img {
    min-width: 20px;
    max-width: 100px;
    min-height: 50px;
    max-height: 100px;
    margin: 5px;
  }
  & p {
    margin: 5px;    
  }
}
hr {
  color: #181B0F;
}

/* CONTATOS */
header > Div > a {
  min-width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
/* tamanho dos icones: */
header > Div > Div > a > img {
  width: 40px;
  margin: 5px 10px;
}
/* ENTRE EM CONTATO */
header > h3 {
  margin: auto;
  width: 220px;
  min-height: 20px;
  max-height: 35px;
  margin-bottom: 20px;
}
/* titulos grifados da página. */
.faixa {
  color: #ffffff;
  background-color: #6b8a17b0;
  box-shadow: 5px 15px 10px #a2ad81;
}
#f2 {
  margin-bottom: 25px;
}

.contatos {

}

#apresent {
  height: 33px;
  font-size: 30px;
}

body {
  text-align: center;
}

.intro > p {
  margin: 6px;
  font-size: 1.5em;
}

/* criar um contêiner flexível que organiza os produtos */
.produtos {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* entorno do item */
.back-color {
  border: solid rgba(0, 0, 0, 0.137) 5px;
  border-radius: 5%;
  margin: auto;
  margin-top: 2%;
}
/* aplicada a cada produto, definindo sua largura, altura, margem inferior e cor de fundo */
.item {
  width: 360px;
  margin: 15px;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.item > h2 {
  font-size: 1.5em;
}
.item > h4 {
  font-size: 1.1em;
}
.item > img {
  width: 85%;
  height: 250px;
  border-radius: 10%;
  padding: 5px;
  outline: solid rgba(0, 0, 0, 0.137) 1px;
  border-radius: 5%;
  margin: auto;
}
.item > hr {
  width: 90%;
  margin: auto;
}
/* BOTÃO DE CORES */
.item > Div > Button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.item > Div > #laranja {
  background-color: #BF3E0B;
}
.item > Div > #preto {
  background-color: #000000;
}
.item > Div > #azul {
  background-color: #3F5F8A; 
}
.item > Div > #blue {
  background-color: #41c2f5;
}
.item > Div > #red {
  background-color: #ff0000;
}
.item > Div > #pink {
  background-color: #ff00dd;
}
.cores {
  display: flex;
  justify-content: space-evenly;
  margin: 1%;
}
.cores > p {
  font-size: 1.5em;
  padding-right: 40px;
}
/* PREÇO DOS PRODUTOS */
#downprod {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.preco {
  background-color: #e2e2e294;
  width: 125px;
  padding: 9px;
  font-size: 1.4em;
  text-align: start;
  margin: 3px 20px;
  outline: solid rgba(0, 0, 0, 0.137) 1px;
  border-radius: 5%;
}

#carSmall{
  width: 50px;
  margin-right: 5%;
}