/* importação de fontes: */
@import url('https://fonts.cdnfonts.com/css/shameimaru-sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Against2';
    src: url(/src/fonts/against_2/against\ regular.otf);
}
@font-face {
    font-family: 'Angela';
    src: url(/src/fonts/angela_cindysttar/Angela\ Cindysttar.otf);
}
* { /* resetando formatação e denifições gerais da página: */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: "Montserrat", system-ui;
}
html { /* definindo tamanhos, barra de rolagem lateral, e fonte principal */
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}
.scrolled {
    background-color: #c5d8b8e0;
    transition: all 250ms ease-in;
    justify-content: center;
}
header { /* definições e estrutura do cabeçalho */
    transition: all 250ms ease-in;
    font-size: 1.4rem;
    background-color: #c5d8b8e0;
    width: 100vw;
    height: 290px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    scale: 120%;
    & #titleMobile {
        display: none;
        margin-top: 2%;
        font-family: 'Against2', sans-serif;
        color: #ffffff;
        text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.534);
    }
    & .intro {  /* parte responsável por agrupar o logo e o nome da loja: */
        margin-top: 2%;
        display: flex;
        color: #fff;
        flex-direction: column;
        & button {
            background-color: #ffffff00;
        }
            & .apresent {  /* estilizando o nome do restaurante: */
                color: #ffffff;
                width: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.534);
                & #logo { /* estilizando o logo: */
                box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.192);
                margin: 2%;
                width: 80px;;    
                border-radius: 50%;
                height: auto;
                cursor: pointer;
                display: flex;
                align-items: center;
                background-color: #C5D8B8; 
                }
                & h1 {
                    font-family: 'Against2', sans-serif;
                    margin-top: 2%;
                }
                & .autoria {
                    width: auto;
                    margin-top: 2%;
                    & span {
                        font-family: "Montserrat", system-ui;
                        scale: 45%;
                        margin-right: 150px;
                        margin-top: 2%;
                    }
                }
                & p {
                    font-family: 'Angela';
                    scale: 150%;
                }
            } 
    }
    & .guia { /* guia do loyalt geral da página e informações da loja */
        margin-top: 5%;
        font-size: 1.3em;
        text-transform: uppercase;
        & .guia-lista {
            display: flex;
            justify-content: center;
            & a {
                color: #fff;
                margin: 10px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                transition: all 250ms ease-in;
                & p {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                }
                & i {
                    margin: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
            & a:hover {
                background-color: #4444;
                border-bottom: 2px solid #020202ab;
                color: #fff;
            }
                & #ulCar {
                    display: flex;
                    align-items: center;
                    & .fimCar {
                        font-size: 2rem;
                        & .item-Guia {
                            display: flex;
                        }
                    }
                    & button {
                        background-color: #44444405;
                        color: white;
                        transition: all 250ms ease-in;
                    }
                    & button:hover {
                        background-color: #4444;
                        border-bottom: 2px solid #020202ab;
                        color: #fff;
                        cursor: pointer
                    }
                    & a {
                        color: #fff;
                        margin: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        transition: all 250ms ease-in;
                        & label {
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                        }
                        & i {
                            margin: 5px;
                        }
                    }
                    & a:hover {
                        background-color: #4444;
                        border-bottom: 2px solid #020202;
                        color: #020202;
                        cursor: pointer
                    }
                    & #abrirCar:hover {
                        background-color: #020202;
                        color: #020202;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        transition: 450ms ease;
                        & #liCar {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .menuMob {
        width: 50px;
        height: 40px;
        padding-top: 10px;
        display: none;
        position: fixed; /* ou absolute, se preferir que o botão se mova com o scroll */
        top: 35px; /* Ajuste a distância do topo */
        right: 65px; /* Ajuste a distância da borda direita */
        background-color: #ffffff34;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        z-index: 1000; /* Garante que o botão fique sobre outros elementos */
        & sub {
            margin-left: 2px;
            padding: 0px 2px;
            color: #2F4F4F;
            background-color: #2f4f4f2a;
            border-radius: 15%;
            font-size: 1.5rem;
        }
    }
    .cabecalhoMob {
        display: none;
        color: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 900;
        background-color: rgba(0, 0, 0, 0.733);
        & .guia {
            a {
                color: white;  
            }
            margin-top: 100px;
            display: flex;
            justify-content: center;
            & .guia-lista {
                a {
                    color: white;  
                }
                margin-top: 40px;
                & .close {
                    font-size: 30px;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    margin-bottom: 40px;
                }
                .close:hover,
                .close:focus {
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                }
                & .item-Guia {
                    text-align: center;
                    scale: 300%;
                    margin-bottom: 80px;
                }
                & ul {
                    & .fimCar {
                        background-color: #00000000;
                        color: white;
                        font-size: 1rem;
                        & li .item-Guia {
                            & i .bi .bicart {
                                color: white;
                            }
                        }
                    }
                    p {
                        color: white;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .modalMenu {
        display: none; /* Escondido por padrão */
        position: fixed; /* Fica fixo na tela */
        z-index: 500; /* Certifica-se de que está acima de outros elementos */
        width: 100%;
        height: 100%;
        overflow: auto; /* Permite rolagem se o conteúdo for maior que a tela */
        background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
        list-style: none;
        text-decoration: none;
        & .janelaMenu {
            scale: 300%;
            align-items: center;
            text-align: center;
            margin: 15% auto; /* Centraliza verticalmente com uma margem superior */
            padding: 20px;
            width: 100%; /* Largura da janela modal */
            max-width: 500px; /* Largura máxima da janela modal */
            border-radius: 8px; /* Bordas arredondadas */
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Sombra da janela */
            & .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }
        & button {
            cursor: pointer;
        }
    }
    .modal {
        display: none; /* Escondido por padrão */
        position: fixed; /* Fica fixo na tela */
        z-index: 1000; /* Certifica-se de que está acima de outros elementos */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Permite rolagem se o conteúdo for maior que a tela */
        background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
        & .janela {
            scale: 150%;
            background-color: #fff;
            margin: 15% auto; /* Centraliza verticalmente com uma margem superior */
            padding: 20px;
            border: 5px solid #C5D8B8;
            width: 80%; /* Largura da janela modal */
            max-width: 500px; /* Largura máxima da janela modal */
            border-radius: 8px; /* Bordas arredondadas */
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.712); /* Sombra da janela */
            display: flex;
            flex-direction: column;
            align-items: center;
            & p {
                margin-top: 10px;
            }
            & input {
                background-color: #4444;
                border: 1px solid black;
                color: black;
                margin-top: 5px;
                cursor: pointer;
            }
            & label {
                margin-top: 5px;
            }
            & .opcpag {
                display: none;
                flex-direction: column;
                & span {
                    & input {
                        margin-right: 5px;
                    }
                    & i {
                        margin-left: 5px;
                    }
                }
            }
            & .confirmardados {
                display: none;
            } 
            & .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;
            }
            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
            & .itensCar {
                & span {
                    margin: 2px;
                }
            }
            & li {
                display: flex;
                flex-direction: row;
                align-items: center;
                & .button-pagar {
                    margin-top: 10px;
                    background-color: #4CAF50;
                    color: white;
                    padding: 10px 20px;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }
                & .button-pagar:hover {
                    background-color: #45a049;
                }
            }
            & .resumo {
                flex-direction: column;
                & p {
                    text-align: center;
                }
            }
        }
        & button {
            margin-top: 5px;
            cursor: pointer;
        }
        & button:hover {
            background-color: #33333331;
        }
    }
    .modal.active { /* Para exibir a modal */
        display: block;
    }
section { /* definindo estilização, background, ajuste de posição e orientações inicias da página */
    color: #020202;
    & .cont-principal {
    height: 550px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(29,29,29,0.8), rgba(29,29,29,0.4));
    background-color: #c9d8bf;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
        & h2 {
            margin-top: 20%;
            margin-left: 15%;
            margin-right: 15%;
            color: #fff;
            font-size: 3rem;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        & h3 {
            margin-top: 2%;
            color: #fff;
            font-size: 2rem;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
        & .btn {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }
        & .btn button {
            width: 190px;
            height: 60px;
            cursor: pointer;
            text-transform: uppercase;
            background-color: #CED8B3;
            border-radius: 10px;
            color: black;
            font-weight: 700px;
            margin-top: 5rem;
            transition: all 400ms ease-in;
        }
        & .btn button:hover {
            border: 1px solid white;
            background-color: transparent;
            color: white;
        }
    }
}
#intervalo {
    background-color:  #181B0F;
    width: 100%;
    height: 6px;
}
.catalogo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6ffdf69;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    & h2 {
        font-style: italic;
        font-weight: 200;
        margin-top: 5%;
        margin-bottom: 2%;
        font-size: 5rem;
        color: black;
        text-transform: uppercase;
    }
    .itens-catalogo {
        width: 80%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
        justify-content: center;
        align-items: center;
        gap: 50px;
        text-align: center;
        & div {
            flex-direction: column;
            align-items: center;
        }
        & .item {
            width: 270px;
            height: 500px;
        }
        & .item:hover {
            background-color: #d9d9ed;
            border: 1px solid #0000003f;
            box-shadow: 0px 0px 4px 1px #0000003f;
            transition: all 300ms;
            & .info {
                background-color: #d9d9ed;
                transition: all 300ms ease-in;
            }
        }
        & .info {
            background-color: #ececf6;
            border: none;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            justify-content: center;
            & h3 {
                font-size: 1.8rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
                text-decoration: underline;
            }
            & h5 {
                font-size: 1.1rem;
                color: #414141;
                text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
                margin: auto;
            }
            & #topdesc {
                margin-top: 2.6rem;
                margin-bottom: 1rem;
            }
            & .dados {
                    width: 100px;
                    font-size: 1.4rem;
                    text-transform: uppercase;
                    text-align: center;
                    & .cores {
                        & #laranja {
                            background-color: #BF3E0B;
                        }
                        & #preto {
                            background-color: #000000;
                        }
                        & #azul {
                            background-color: #3F5F8A; 
                        }
                        & #ciano {
                            background-color: #41c2f5;
                        }
                        & #vermelho {
                            background-color: #ff0000;
                        }
                        & #rosa {
                            background-color: #ff00dd;
                        }
                        & #whitered {
                            background-image: linear-gradient(-135deg, #DFE0DB 50%, #6C1729 50%);
                        }
                        & button {
                            cursor: pointer;
                            width: 25px;
                            height: 25px;
                            border-radius: 50%;
                            background-color: #45a049;
                        }
                    }
                    & .detalhes {
                        & .tamanho {
                            display: flex;
                            
                            border: none;
                            box-shadow: none;
                            & select {
                                cursor: pointer;
                            }
                        }
                    }
                    
            }
            .pedir {
                width: 200px;
                height: 35px;
                margin-top: 0.5rem;
                background-color: #ffc506;
                border-radius: 5px;
                text-transform: uppercase;
                cursor: pointer;
                color: black;
                transition: all 200ms ease-in;
            }
            .pedir:hover {
                background-color: rgba(12,12,12,0.8);
                color: #fff;
            }
        }
        & img {
            box-shadow: 0px 0px 4px 1px #aaa;
            margin: 2% 0%;
            width: 96%;
            height: 230px;
            border-radius: 2%;
        }
    }
}
.selectColor {
    border: 2px solid green;
}
.encomenda {
    & .corpoEncomenda {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: auto;
    }
    & .anotacao {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        & label {
            font-size: 2rem;
        }
        & textarea {
            margin-top: 10px;
            height: 100px;
            width: 500px;
            max-width: 500px;
            resize: none;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            text-align: center;
        }
    }
    & .envioEnc {
        display: flex;
        align-items: center;
    }
    & #wppEnc.bi.bi-whatsapp {
        color: #4ECC5C;
        cursor: pointer;
        margin-left: 5px;
        font-size: 3rem;
        padding: 10px;
    }
    & .btnEncomenda {
        margin: 2%;
        margin-left: 0px;
        height: 30px;
        width: 400px;
        background-color: #5cb85c;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
    }
    & .btnEncomenda:hover {
        background-color: #307030;
        cursor: pointer;
    }
}
.contatos {
    width: 100%;
    height: 130px;
    background-color: #C5D8B8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #fff;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.534);
    & h3 {
        font-size: 4rem;
        margin-bottom: 3rem;
    }
    & .contatos-sessao {
        display: flex;
        font-size: 1.8rem;
        flex-direction: row;
        text-shadow: 0px 5px 15px rgb(0, 0, 0);
        & a {
            color: #fff;
            cursor: pointer;
            transition: all 200ms ease-in;
            & i {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
        & a:hover {
            color: #020202ab;
        }
    }
}
footer {
    width: 100vw;
    height: 120px;
    background-color: #181B0F;
    color: white;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & div {
        & h4 {
            flex-direction: row;
            margin: 2px 0px;
        }
        & .myrdesign {
            display: flex;
            align-items: center;
            & p {
                font-family: 'Shameimaru Sans', sans-serif;
                font-size: 2rem;
                & sub {
                    font-family: 'Shameimaru Sans', sans-serif;
                    font-size: 1.2rem;
                }
            }
        }
        & a {
            color: white;
            margin-left: 8px;
            & i {
                cursor: pointer;
                margin-left: 5px;
            }
        }
        & a:hover {
            color: #b2b3da;
        }
    } 
}
@media (max-width: 1260px) {
    section {
        & .cont-principal {
            height: 600px;
            & h2 {
                margin-top: 25%;
            }
        }
    }
}
@media (max-width: 965px) {
    section {
        & .cont-principal {
            & h2 {
                margin-top: 30%;
            }
        }
    }
}
@media (max-width: 954px) {
    header {
        width: 100%;
        & .apresent {
            width: auto;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        #ulCar button {
            top: none;
        }
    }
    section {
        & .cont-principal {
            height: 750px;
            & h2 {
                margin-top: 27%;
            }
        }
        & h2 {
            padding: 2%;
            text-align: center;
        }
    }
}
@media (max-width: 772px) {
    .cont-principal {
        height: 750px;
            & h2 {
                margin-top: 350px;
            }
    }
    #ulCar button {
        height: 72%;
        cursor: pointer;
    }
    .guia-lista {
        & .item-Guia {
            margin-right: 10px;
        }
    }
}
@media (max-wodth: 673px) {
    .menuMob {
        display: none;
    }
}
@media (max-width: 672px) {
    header {
        & #titleMobile {
            display: none;
        }
    }
    #cabecalho {
        width: 100%;
        height: 220px;
    }
    .intro {
        & button {
            margin-top: 10px;
            display: flex;
            justify-content: center;
        }
    }
    .menuMob {
        display: block;
    }
    .guia {
        display: none;
    }
}
@media (max-width: 607px) {
    #cabecalho {
        height: 220px;
    }
    section {
        & .cont-principal {
            & h2 {
                margin-top: 40%;
            }
        }
    }
}
@media (max-width: 548px) {
    header {
        & #titleMobile {
            font-size: 2.5rem;
            position: absolute;
            right: 130px;
        }
    }
    section {
        & .cont-principal {
            & h2 {
                margin-top: 300px;
            }
        }
    }
    .corpoEncomenda {
        & .anotacao {
            & textarea {
                width: 300px;
                height: 150px;
            }
        }
        & .btnEncomenda {
            width: 300px;
        }
    }
}
@media (max-width: 476px) {
    header {
        & #titleMobile {
            font-size: 2rem;
            position: absolute;
            right: 130px;
        }
    }
    header {
        height: 180px;
        & .intro {
            margin-top: 20px;
            & .apresent {
                flex-direction: column;
                width: 100%;
            }
        }
        & .guia {
            display: none;
        }
    }
    section {
        & .cont-principal {
            height: 800px;
            & h2 {
                margin-top: 300px;
            }
            & h3 {
                margin-left: 15%;
                margin-right: 15%;
            }
        }
        & .btn {
        flex-direction: column;
        align-items: center;
        width: 190px;
        }
    }
    .catalogo {
        & h2 {
            font-size: 3rem;
        }
    }
    .container {
        margin: 20px;
    }
    .contatos {
        padding-bottom: 2rem;
        height: auto;
        & h3 {
            font-size: 2rem;
            margin: 1rem;
        }
    }
    .contatos-sessao {
        flex-direction: column;
        align-items: center;
        & a {
            margin-top: 10px;
        }
    }
    footer {
        height: auto;
    }
}
@media (max-width: 412px) {
    header {
        & h1 {
            left: 150px;
        }
        & span#buttonMob.menuMob {
            top: 40px;
            right: 45px;
        }
    }
}
@media (max-width: 411px) {
    header {
        & h1 {
            left: 130px;
        }
        & span#buttonMob.menuMob {
            top: 30px;
            right: 45px;
        }
    }
    .intro {
        & .apresent {
            & h1 {
                font-size: 2rem;
            }
        }
    }
    .encomenda {
        max-width: 390px;
        & .envioEnc {
            & i {
                display: none;
            }
        }
    }
    .contatos {
        max-width: 392px;
    }
}
@media (max-width: 360px) {
    header {
        & h1 {
            left: 120px;
        }
    }
}